.locate-button {
    position: fixed;
    right: 16px;
    bottom: calc(35% + 20px); /* 15% карты + 20px отступ */
    width: 48px;
    height: 48px;
    background: white;
    border-radius: 50%;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    transition: background 0.3s ease;
}


.locate-button:hover {
    background: #f4f4f6;
}
